@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

/*Inclure le padding et la bordure dans la largeur et la hauteur totales d'un élément*/ 
* {
  box-sizing: border-box;
}

#myDIV {
  border-radius: 25px;
  margin-bottom: 15px;
}

body {
  margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 200px;
  margin-left: 200px;
  min-width: 200px;
}

/* .background {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #528fe0;
  border-radius: 15px;
} */

h2 {
  font-family: "Delicious Handrawn", cursive;
  font-size: 60px;
  margin-bottom: 25px;
}

#myUL {
  top: 5px;
  background-color: #528fe0;
  position: relative;
}

.ulPad {
  padding: 10px;
}

li {
  border-radius: 25px;
  margin: 5px;
}

/* Supprimer les marges et le padding de la liste */
ul {
  padding: 0;
  border-radius: 15px;
}

/* Style des éléments de la liste */
ul li {
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* Rendre les éléments de la liste non sélectionnables */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Couleur de fond plus foncée au survol */
ul li:hover {
  background: #ddd;
}

/* Définir tous les éléments impairs de la liste dans une couleur différente (rayures zébrées) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Lorsqu'on clique sur une tâche, une couleur d'arrière-plan est ajoutée et le texte est barré. */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Ajouter une marque "cochée" lorsqu'on clique dessus */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 15px;
  transform: rotate(45deg);
  height: 15px;
  width: 8px;
}

/* Style du bouton de fermeture */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style de l'en-tête */
.header {
  background-color: #528fe0;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Effacer les flottants après l'en-tête */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style de l'entrée */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style du bouton "Ajouter */
.addBtn {
  margin-left: 130px;
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

/* bouton */
button {
  --c: #229091; /* Couleur */

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  border-radius: 15px;
}
button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

button {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}

/* Bouton d'exportation des tâches */
#btnExport {
  margin: auto;
}